{extend name="../../admin/view/main"}

{block name="button"}
<!--{if auth("clean")}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-modal="{:url('add')}">新增数据</button>
<!--{/if}-->
{/block}

{block name="content"}
<div class="layui-tab layui-tab-card">
    
    <div class="layui-tab-content">
        {include file='shop/orderx/index_search'}
        <table class="layui-table margin-top-10" lay-skin="line">
            {notempty name='list'}
            <thead>
            <tr>
                <th class='list-table-check-td think-checkbox'>
                    <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
                </th>
                <th>产品信息</th>
                <th>产品信息</th>
                <th>商品信息</th>
            </tr>
            </thead>
            {/notempty}
            <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='list-table-check-td think-checkbox'>
                    <label><input class="list-check-box" type='checkbox' value='{$vo.id}'></label>
                </td>

                <td class='nowrap'>
                    {eq name='vo.status' value='0'}<span class="layui-badge layui-badge-middle layui-bg-gray layui-border-cyan" data-tips-text="{$vo.cancel_remark}">已经取消</span>{/eq}
                    {eq name='vo.status' value='1'}<span class="layui-badge layui-badge-middle layui-bg-red">预购订单</span>{/eq}
                    {eq name='vo.status' value='2'}<span class="layui-badge layui-badge-middle layui-bg-red">等待待付款</span>{/eq}
                    {eq name='vo.status' value='3'}<span class="layui-badge layui-badge-middle layui-bg-orange">等待审核</span>{/eq}
                    {eq name='vo.status' value='4'}<span class="layui-badge layui-badge-middle layui-bg-black">待平仓</span>{/eq}
                    {eq name='vo.status' value='5'}<span class="layui-badge layui-badge-middle layui-bg-blue">已经发货</span>{/eq}
                    {eq name='vo.status' value='6'}<span class="layui-badge layui-badge-middle layui-bg-green">已经完成</span>{/eq}
                    <div class="inline-block text-middle">
                        <div class="sub-strong-blue">
                            订单单号：<b>{$vo.order_no|default=''}</b>
                            <!--{eq name='vo.status' value='3'}-->
                            <a class="margin-left-5 layui-badge layui-bg-blue" data-modal="{:url('audit')}?order_no={$vo.order_no}">凭证审核</a>
                            <!--{/eq}-->
                        </div>
                        <div class="sub-strong-blue">
                            订单总计：<b>{$vo.k_num}</b> 手
                           
                            支付 <b>{$vo.payment_amount+0}</b> 元
                        </div>
                        <div>下单时间：<span class="color-text">{$vo.create_at|format_datetime}</span></div>
                        <div>平仓时间：<span class="color-text">{$vo.end_at|format_datetime}</span></div>

                    </div>
                </td>

                <td class="nowrap">
                    <div class="inline-block text-middle">
                        <div class="sub-strong-blue">
                            产品：<b>
                                {php}
                                if(isset($items[$vo['ppid']]))
                                {
                                    echo $items[$vo['ppid']];
                                }else{
                                     echo '--ERROR--';
                                }  
                                {/php}
                            </b>
                        </div>
                        <div class="sub-strong-blue">
                            买入
                        </div>
                        <div class="sub-strong-blue">
                            创建价格：<b>{$vo.create_price|default=''}</b>
                        </div>
                        <div class="sub-strong-blue">
                            结束价格：<b>{$g.finish_price|default=''}</b>
                        </div>

                    </div>
                </td>

                <td class="nowrap">
                    
                </td>

            </tr>
            {/foreach}
            </tbody>
        </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>
{/block}
