{extend name="../../admin/view/main"}

{block name="button"}
<!--{if auth("sync")}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-queue="{:url('sync')}">刷新用户金额</button>
<!--{/if}-->

<!--{if auth("base.upgrade/sync")}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-queue="{:url('base.upgrade/sync')}">刷新用户等级</button>
<!--{/if}-->
{/block}

{block name="content"}
<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title notselect">
        {foreach $total as $k=>$v}{if isset($type) and 't'.$type eq $k}
        <li class="layui-this" data-open="{:url('index')}?type={$k}">
            {if is_numeric($v.vip)}<span class="color-red margin-right-5">[<b class="margin-col-5 font-s12">VIP{$v.vip}</b>]</span>{/if}
            <span>{$v.name}</span><sup class="layui-badge border-radius">{$v.count|default=0}</sup>
        </li>
        {else}
        <li data-open="{:url('index')}?type={$k}">
            {if is_numeric($v.vip)}<span class="color-desc margin-right-5">[<b class="margin-col-5 font-s12">VIP{$v.vip}</b>]</span>{/if}
            <span>{$v.name}</span><sup class="layui-badge border-radius">{$v.count|default=0}</sup>
        </li>
        {/if}{/foreach}
    </ul>
    <div class="layui-tab-content">
        {include file='user/admin/index_search'}
        <table class="layui-table margin-top-10" lay-skin="line">
            {notempty name='list'}
            <thead>
            <tr>
                <th class='list-table-check-td think-checkbox'>
                    <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
                </th>
                <th class='nowrap'>会员用户</th>
                <th class='nowrap'>余额统计</th>
                <th class='nowrap'>提现统计</th>
                <th class='nowrap'>用户状态</th>
                <th class='nowrap'></th>
            </tr>
            </thead>
            {/notempty}
            <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='list-table-check-td think-checkbox'>
                    <label><input class="list-check-box" type='checkbox' value='{$vo.id}'></label>
                </td>
                <td class="nowrap">
                    <div class="headimg headimg-md" data-tips-hover data-tips-image data-lazy-src="{$vo.headimg|default='__ROOT__/static/theme/img/headimg.png'}"></div>
                    <div class="inline-block">
                        <div>
                            {notempty name='vo.username'}
                            用户姓名：<span class="color-text">{$vo.username|default='-'}</span>
                            {else}
                            用户昵称：<span class="color-text">{$vo.nickname|default='-'}</span>
                            {/notempty}
                        </div>
                        <div>用户手机：<span class="color-text">{$vo.phone|default='-'}</span></div>
                    </div>
                </td>
                <td class="nowrap sub-strong-blue sub-strong-s14">
                    <div>累计充值 <b>{$vo.balance_total+0}</b> 元</div>
                    <div>已经交易 <b>{$vo.balance_used+0}</b> 元</div>
                    <div>可用余额 <b>{:round($vo.balance_total-$vo.balance_used,2)+0}</b> 元</div>
                </td>
                <td class="nowrap sub-strong-blue sub-strong-s14">
                    <div>已经提现 <b>{$vo.rebate_used+0}</b> 元</div>
                    <div>可提现 <b>{:round($vo.rebate_total-$vo.rebate_used,2)+0}</b> 元</div>
                </td>
                <td class="nowrap">
                    <div>注册时间：{$vo.create_at}</div>

                    <div>
                        <span>用户状态：</span>
                        <span>{if $vo.status eq 0}<b class="color-red">已冻结</b>{elseif $vo.status eq 1}<b class="color-green">已激活</b>{/if}</span>
                        <span class="margin-left-5">累计交易 <b class="color-blue font-s14">{$vo.order_amount_total+0}</b> 元</span>
                    </div>
                </td>
                <td class="nowrap">
                    <a class="layui-btn layui-btn-sm layui-btn-primary" data-iframe="{:url('parent')}?uuid={$vo.id}" data-width="900px">修改</a>

                    <!--{if auth("parent") and false}-->
                    <a class="layui-btn layui-btn-sm layui-btn-primary" data-iframe="{:url('parent')}?uuid={$vo.id}" data-width="900px">修改上级</a>
                    <!--{/if}-->

                    <!--{if auth("user.balance/add")}-->
                    <a class="layui-btn layui-btn-sm layui-btn-primary" data-modal="{:url('user.balance/add')}?uuid={$vo.id}" data-title="充值账户余额">充 值</a>
                    <!--{/if}-->

                    <!--{if auth("state") and $vo.status eq 1}-->
                    <a class="layui-btn layui-btn-sm layui-btn-danger" data-action="{:url('state')}" data-confirm="账号冻结后不能下单和提现，确定要冻结吗？" data-value="id#{$vo.id};status#0">冻 结</a>
                    <!--{/if}-->

                    <!--{if auth("state") and $vo.status eq 0}-->
                    <a class="layui-btn layui-btn-sm layui-btn-normal" data-action="{:url('state')}" data-value="id#{$vo.id};status#1">解 冻</a>
                    <!--{/if}-->
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>
{/block}
